/* I opted for simple, clear, but visually pleasing styling 
with cohesive colour pallete and font throughout  */

/* styling for heading  */
body {
  font-family: fantasy;
  color: crimson;
  background-color: rgb(231, 182, 176);
  text-align: center;
  font-size: 40px;
}

/* styling for button  */
h2 {
  color: crimson;
}
button {
  width: 200px;
  height: 100px;
  border: 5px solid;
  border-radius: 50px;
  background-color: rgb(220, 20, 60);
  color: rgb(249, 246, 246);
  cursor: pointer;
  font-family: fantasy;
  font-size: 16px;

  /* here i changed the colour of the link so that it wasn't hyperlinked as blue  */
  a:link {
    color: rgb(246, 244, 244);
  }
  a:hover {
    color: rgb(231, 182, 176);
  }
}
